rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /userTokens/{tokenId} {
      allow read, write: if true;
    }

    match /sales/{saleId} {
      allow read, write: if true;
    }
  }
}
